body {
    overflow: hidden;
}

#worldMap {
    overflow: hidden;
}

/* --- zoom --------------------- */
.zoom-buttons {
    display: block;
    position: fixed;
    right: 0px;
    bottom: 10px;
    z-index: 15;
    width: 60px;
}

.zoom-out,
.zoom-in {
    margin-bottom: 4px;
}

/* --- loading --------------------- */
.loading {
    width: 100%;
    text-align: center;
    margin-top: 45vh;
}

.wait-loading {
    display: none !important;
}

.hide {
    display: none !important;
}

/* --- menu button --------------------- */
div:has(.open-menu-button) {
    display: block;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 15;
    width: 60px;
}

/* --- menu bar --------------------- */
.menu-bar {
    display: block;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 20;
    width: 90%;
    max-width: 360px;
    background-color: #ffffff;
    height: 100vh;
}

.menu-head hr {
    margin: 0;
    margin-top: 10px;
}

.menu-bar .row {
    width: 100%;
    max-width: 360px;
    margin-right: 0px;
    padding-right: 10px;
}

.menu-route .col-12,
.menu-select .col-12,
.menu-head .col-12 {
    margin: 15px;
}

.menu-select .col-12 {
    margin-top: 0;
}

/* --- select2 ------------- */
.select2 {
    width: 100%!important;
}

.select2-results__options {
    max-height: 70vh!important;
    height: 70vh!important;
}

.select2-selection {
    height: 40px!important;
    padding: 5px;
    padding-left: 10px;
}

/* --- routes ------------- */
.route-icon {
    padding-left: 12px;
    padding-top: 8px;
}